pkgbase = labwc
	pkgdesc = A Wayland window-stacking compositor
	pkgver = 0.8.2
	pkgrel = 2
	url = https://labwc.github.io
	arch = x86_64
	license = GPL-2.0-only
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = cairo
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libinput
	depends = libpng
	depends = librsvg
	depends = libsfdo
	depends = libxcb
	depends = libxkbcommon
	depends = libxml2
	depends = pango
	depends = pixman
	depends = wlroots>=0.18.1
	depends = wayland
	depends = xdg-desktop-portal-wlr
	depends = xorg-xwayland
	optdepends = alacritty: Terminal option
	optdepends = bemenu: Launcher option
	optdepends = fuzzel: Launcher option
	optdepends = grim: Screen shooter
	optdepends = kanshi: Output manager option
	optdepends = lxqt-panel: Panel option
	optdepends = swaybg: Background image
	optdepends = swaylock: Screen locker
	optdepends = waybar: Panel option
	optdepends = wf-recorder: Screen recorder
	optdepends = wlopm: Output manager option
	optdepends = wlr-randr: Output manager option
	optdepends = wofi: Launcher option
	optdepends = xfce4-panel: Panel option
	optdepends = yambar: Panel option
	source = labwc-0.8.2.tar.gz::https://github.com/labwc/labwc/archive/0.8.2.tar.gz
	sha256sums = 1adba1c87ec26f2f00409b47a0b79ccfd68bd160e1abc41822fb01f0a76ee947

pkgname = labwc
