[Desktop Entry]
Name=Ryzen Controller
Comment=A minimal Electron application to use ryzenAdj through a friendly interface.
Exec=/opt/ryzen-controller/ryzen-controller %U
Terminal=false
Type=Application
Icon=ryzen-controller
StartupWMClass=Ryzen Controller
Categories=Utility;
