
[Desktop Entry]
Name=Micro
Name[ast]=Micro
Name[bg]=Micro
Name[cs]=Micro
Name[da]=Micro
Name[de]=Micro
Name[el]=Micro
Name[en_AU]=Micro
Name[en_GB]=Micro
Name[es]=Micro
Name[eu]=Micro
Name[fi]=Micro
Name[fr]=Micro
Name[hr]=Micro
Name[hu]=Micro
Name[id]=Micro
Name[is]=Micro
Name[it]=Micro
Name[ja]=Micro
Name[kk]=Micro
Name[lt]=Micro
Name[ms]=Micro
Name[nb]=Micro
Name[nl]=Micro
Name[oc]=Micro
Name[pl]=Micro
Name[pt]=Micro
Name[pt_BR]=Micro
Name[ro]=Micro
Name[ru]=Micro
Name[sk]=Micro
Name[sv]=Micro
Name[th]=Micro
Name[tr]=Micro
Name[ug]=Micro
Name[uk]=Micro
Name[zh_CN]=Micro
Name[zh_TW]=Micro
Comment=Simple Text Editor
Comment[ar]=محرر نصوص بسيط
Comment[ast]=Editor de testu simple
Comment[bg]=Опростен текстов редактор
Comment[cs]=Jednoduchý textový editor
Comment[de]=Einfache Textbearbeitung
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[en_AU]=Simple Text Editor
Comment[en_GB]=Simple Text Editor
Comment[es]=Un simple editor de texto
Comment[fi]=Yksinkertainen tekstimuokkain
Comment[fr]=Éditeur de texte simple
Comment[hr]=Jednostavni uređivač teksta
Comment[hu]=Egyszerű szövegszerkesztő
Comment[id]=Penyunting Teks Sederhana
Comment[is]=Einfaldur textaritill
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディターです
Comment[kk]=Қарапайым мәтін түзетушісі
Comment[ko]=간단한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[ms]=Penyunting Teks Ringkas
Comment[nb]=Enkel tekstbehandler
Comment[nl]=Eenvoudige tekstbewerker
Comment[oc]=Editor de tèxte simple
Comment[pl]=Zwykły edytor tekstu
Comment[pt]=Editor de texto simples
Comment[pt_BR]=Editor de Texto Simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sr]=Једноставан уређивач текста
Comment[sv]=Enkel textredigerare
Comment[te]=సులభ పాఠ్య కూర్పకం
Comment[th]=เครื่องมือแก้ไขข้อความอย่างง่าย
Comment[tr]=Basit Metin Düzenleyici
Comment[ug]=ئاددىي تېكىست تەھرىرلىگۈ
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文本编辑器
Comment[zh_TW]=簡易文字編輯程式
GenericName=Text Editor
GenericName[ar]=محرر نصوص
GenericName[ast]=Editor de testu
GenericName[bg]=Текстов редактор
GenericName[cs]=Textový editor
GenericName[de]=Textbearbeitung
GenericName[el]=Επεξεργαστής Κειμένου
GenericName[en_AU]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[es]=Editor de texto
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[id]=Penyunting Teks
GenericName[is]=Textaritill
GenericName[it]=Editor di Testo
GenericName[ja]=テキストエディター
GenericName[kk]=Мәтін түзетушісі
GenericName[ko]=문서 편집기
GenericName[lt]=Teksto redaktorius
GenericName[ms]=Penyunting Teks
GenericName[nb]=Tekstbehandler
GenericName[nl]=Tekstbewerker
GenericName[oc]=Editor de tèxte
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sr]=Уређивач текста
GenericName[sv]=Textredigerare
GenericName[te]=పాఠ్య కూర్పకం
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈ
GenericName[uk]=Текстовий редактор
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯程式
Exec=micro-st %F
Icon=accessories-text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
