[Desktop Entry]
Name=PKGBUILD Assistant
Comment=An auxiliary tool for writing PKGBUILD files developed using the Qt5 framework.
GenericName=PKGBUILD Assistant
Exec=pkgbuild-assistant
Icon=pkgbuild-assistant
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;
