[Desktop Entry]
Type=Application
Icon=sqriptor
Name=Sqriptor
Exec=sqriptor
Terminal=false
Hidden=false
Comment=Greatest and best TextEditor in the World. Tribute.
