[Desktop Entry]
Comment=Dual pane file manager
Exec=dragonfly
Icon=dragonfly
Name=Dragonfly Navigator
Categories=System;FileTools;FileManager
NoDisplay=false
StartupNotify=false
Type=Application
StartupWMClass=Dragonfly Navigator
