# Ignore everything
/*

# But not these files...
!.gitignore
!PKGBUILD
!.SRCINFO
!.nvchecker.toml
!LICENSE
!rabbitvcs-caja.install
!rabbitvcs-nautilus.install
!rabbitvcs-nemo.install
!rabbitvcs-thunar.install
