[Desktop Entry]
Type=Application
Icon=classyshark
Name=ClassyShark
Exec=classyshark
Terminal=false
Hidden=false
Comment=Analyze any Android/Java based app or game
