# Ignore everything
*

# But not these files...
!.gitignore
!PKGBUILD
!.SRCINFO
!adwaita-maia-override.sh
!adwaita-maia-override-install.hook
!adwaita-maia-override-install.sh
!adwaita-maia-override-remove.hook
!adwaita-maia-override-remove.sh
